@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');





.the-article {
 display: flex;
 justify-content: center;
    align-items: center;
    text-align: center;
  margin: auto;
    width: 100%;
    background-color: rgb(249, 114, 202);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    font-size: 10px;
    font-family:'Gloria Hallelujah', sans-serif;
}


.home-welcome {

    margin: auto;
    text-align: center;
    padding: 20px;

      background-color:   rgba(230, 67, 208, 0.795) ;
    border-radius: 20px;
    font-family: 'Gloria Hallelujah', sans-serif;
}


.post-card {

    margin:auto;
    text-align: center;


    width: 80%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.671) ;


border-radius: 20px;
padding: 35px;
    box-shadow: rgba(47, 7, 51, 0.6) 4px 10px 30px;
    margin-top: 20px;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: black;
}




.post-title {
font-size: 10px


}


.article-id {
    font-size: 10px
    
    
    }



.post-body {
    font-size: 10px
    
    
    }

    
    .post-topic {
font-size: 10px


}


.post-comments {
    font-size: 10px
    
    
    }


    .post-author {
        font-size: 10px
        
        
        }

        .post-created-at {
            font-size: 10px
            
            
            }
            

            .post-vote-count {
                font-size: 10px
                
                
                }
                
        
    




.oops-error{

    font-size: 10px;
display: flex;

    font-family: 'Gloria Hallelujah', sans-serif;
}










.link-to-article {
    display: flex;
    justify-content: center;
text-align: center;
text-decoration: none;
  color: rgb(0, 0, 0);
  font-family:'Gloria Hallelujah', sans-serif;
font-size: 20px;
                }



.link-to-article:hover {
                   display: flex;
                       justify-content: center;
                       text-align: center;
                  text-decoration: none;
                    color: rgb(208, 92, 231);
                    font-family:'Gloria Hallelujah', sans-serif;
                  font-size: 20px;
                cursor: pointer;
                                }





.comment_container{
    align-items: center;

  
margin:auto;
text-align: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.553) ;
border-radius: 20px;
padding: 20px;
    box-shadow: rgba(47, 7, 51, 0.6) 4px 10px 30px;
    margin-top: 30px;
    
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: black;
}









.comment-box {
    margin:auto;
text-align: center;
    align-items: center;

  
    overflow-y: scroll;
    width: 80%;
    background-color: rgba(43, 174, 235, 0.553) ;

border-radius: 20px;
padding: 20px;
    box-shadow: rgba(47, 7, 51, 0.6) 4px 10px 30px;
    margin-top: 80px;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: black;
}




.Article_container {
      align-items: center;

  text-align: center;

 width: 75%;
margin:auto;
 background-color: rgba(255, 255, 255, 0.671) ;
border-radius: 20px;
padding: 40px;
box-shadow: rgba(47, 7, 51, 0.6) 4px 10px 30px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 10px;
color: black;
}



.all-articles-loading {
    margin: auto;
    text-align: center;
font-size: 50px;
    font-family: 'Gloria Hallelujah', sans-serif;
}



.topic-articles-loading {
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Gloria Hallelujah', sans-serif;
}






.individual-articles-loading {

  margin:auto;
text-align: center;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Gloria Hallelujah', sans-serif;
}



.up-vote-button{
  
    cursor: pointer;
    width: 120px;
    height: 60px;
    border: none;
     margin-bottom: 20px;

    border-radius: 10px;
}

.up-vote-button:hover{
  
    cursor: pointer;
    width: 200px;
    height: 60px;
    border: none;
    margin-bottom: 20px;

    border-radius: 10px;
    background-color: green;
}

.down-vote-button{
    cursor: pointer;
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 10px;
  
}

.down-vote-button:hover{
    cursor: pointer;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
       background-color: red;
  
}

.vote-buttons{
    margin-top: 90px;
    padding: 10px;
display: flex;
    justify-content: space-evenly;
}