@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


.text {
margin-top: -60px;
    font-family: 'Gloria Hallelujah', sans-serif;
    text-align: center;
    font-size: 50px;


}

.logo-app{

margin-left: 80px;
text-align: center;
}

.the-pic{

height: 200px;



}




.hello-user{

    font-family:'Gloria Hallelujah', sans-serif ;
}