@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');





.navBar {
display: flex;

flex-direction: row;
justify-content: space-around;
align-items: center;
width: 100%;
height: 100px;
box-shadow: 0 5px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    background-color: rgba(230, 67, 208, 0.795) ;
    margin-bottom: 1rem;

    font-family: 'Gloria Hallelujah', sans-serif;

    font-size: 20px;

  }


  .bar{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: green;
  }
  


      


 






 



