
.thetitle {

    text-align: center;
font-size: 30px;

}

.title-box {

 
    height:50px;
    width: 50%;
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    background-color: rgb(119, 201, 226);
    margin-bottom: 1rem;
margin-top: 60px;
    color: black;
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 23px;
    text-align: left;
    
}




.topic-box {

 
    height:50px;
    width: 50%;
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    background-color: rgb(119, 201, 226);
    margin-bottom: 1rem;
margin-top: 60px;
    color: black;
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 23px;
    text-align: left;
}



.body-box {

 
    height:400px;
    width: 50%;
    margin:auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    background-color: rgb(119, 201, 226);
    margin-bottom: 1rem;
margin-top: 60px;
    color: black;
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 23px;
    text-align: justify;


}