@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
      margin:auto;
      text-align: center;
    width: 10px;
    height: 10px;
    border: 5px solid #901696; /* Light grey */
    border-top: 5px solid #383636; /* Blue */
    border-radius: 50%;
    margin-top: 6px;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {

    height: 15px;
    padding: 10px;
  }